<div class="admin container mt-4">
    <div>
        <p>Upload Collections</p>
        <a href="/auth/uploadSummerCollection" class="m-2">
            <button class="btn btn-lg btn-block btn-primary">Upload Summer Collection</button>
        </a>
        <a href="/summerImage" class="m-2">
            <button class="btn btn-lg btn-block btn-primary">Upload Summer Collection Images</button>
        </a>
        <a href="/auth/uploadWinterCollection" class="m-2">
            <button class="btn btn-lg btn-block btn-primary">Upload Winter Collection</button>
        </a>
        <a href="/winterImage" class="m-2">
            <button class="btn btn-lg btn-block btn-primary">Upload Winter Collection Images</button>
        </a>
    </div>
    <div>
        <p>Products</p>
        <a href="/auth/uploadSummerCollectionPage" class="m-2">
            <button class="btn btn-lg btn-block btn-primary">Upload Summer Products</button>
        </a>
        <a href="/summerCollectionImage" class="m-2">
            <button class="btn btn-lg btn-block btn-primary">Upload Summer Products Image</button>
        </a>
        <a href="/auth/uploadWinterCollectionPage" class="m-2">
            <button class="btn btn-lg btn-block btn-primary">Upload Winter Products</button>
        </a>
        <a href="/winterCollectionImage" class="m-2">
            <button class="btn btn-lg btn-block btn-primary">Upload Winter Products Image</button>
        </a>
    </div>
    
    <div>
        <p>Coustomer Details</p>
        <a href="/auth/coustomers" class="m-2">
            <button class="btn btn-lg btn-block btn-primary">View Coustomers Details</button>
        </a>
        <a href="/auth/changePrice" class="m-2">
            <button class="btn btn-lg btn-block btn-primary">Change Product Price</button>
        </a>
    </div>    
</div>