<div class="admin container mt-4">
    <a href="/auth/uploadSummerCollection" class="m-2">
        <button class="btn btn-lg btn-block btn-primary">Upload Summer Products</button>
    </a>
    <a href="/summerImage" class="m-2">
        <button class="btn btn-lg btn-block btn-primary">Upload Summer Product Images</button>
    </a>
    <a href="/auth/coustomers" class="m-2">
        <button class="btn btn-lg btn-block btn-primary">View Coustomers Details</button>
    </a>
    <a href="/auth/changePrice" class="m-2">
        <button class="btn btn-lg btn-block btn-primary">Change Product Price</button>
    </a>
    <a href="/auth/uploadWinterCollection" class="m-2">
        <button class="btn btn-lg btn-block btn-primary">Upload Winter Products</button>
    </a>
    <a href="/winterImage" class="m-2">
        <button class="btn btn-lg btn-block btn-primary">Upload Winter Product Images</button>
    </a>
</div>