<div class="upload container" style="margin-top: 50px; padding: 20px;">
    <form action="/auth/uploadSummerCollectionData/post"  method="POST">
        <input type="text" name="name" placeholder="productName" required>
        <input type="text" name="productDesc" placeholder="productDescription" required>
        <input type="number" name="price" placeholder="price" required>
        <input type="text" name="url" placeholder="page location">
        <button class="btn btn-lg btn-block btn-primary" style="margin: 5px;" type="submit">Submit</button>
    </form>
</div>